<mat-toolbar *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
   <button mat-icon-button >
    <mat-icon *ngIf="!sidenav.opened">
        menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
        close
    </mat-icon>
   </button>      
</mat-toolbar>


<mat-sidenav-container class="container">        
    <mat-sidenav   #sidenav="matSidenav" 
        fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item (click)="showView()" routerLink="/">
                <i class="material-icons">
                    home
                </i>
                Inicio
            </a>
            <a mat-list-item  (click)="showView()" routerLink="/person/create">
                <i class="material-icons" >
                    person 
                </i> 
                Cadastrar               
            </a>

            <a mat-list-item  (click)="showView()" routerLink="/persons">
                <i class="material-icons" >
                    people 
                </i> 
                Lista Usários              
            </a>

            <a mat-list-item  (click)="showView()" routerLink="/login" (click)="logOut()">
                <i class="material-icons" color="red" >
                    logout
                </i> 
                Sair            
            </a>
    
        </mat-nav-list>
       
    </mat-sidenav>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/0.9.0/jquery.mask.min.js"></script>

<script>
     $('#cep').mask('00000-000');
     $('#data').mask('00/00/0000');
     $('#telefone').mask('(00) 00000-0000');
     $('#cpf').mask('000.000.000-00', {reverse: true});
</script>

            <mat-sidenav-content class="content">
                <div class="content int mat-elevation-z4">
                    <router-outlet></router-outlet>
                </div>
            </mat-sidenav-content>
       
</mat-sidenav-container>
