mat-card-title {
  display:flex;
  align-items: center;
  justify-content: center;
  font-family: Cambria, Arial;
}


.form-group{
 display: block;
 margin: 5px;
}

.twoElement{
  width: 48%;
  margin-left: 2px;
  margin-right: 1px; 
}

.threeElement {
  width: 31%;
  padding: 3px;
  border: 5%;
  margin: 5px;
}
.fourElement {
  width: 22%;
  padding: 3px;
  border: 5%;
  margin: 5px;
}

  #button{
    margin-top: 1rem;
  }

 .listPerson{
    margin: 1rem;
    height: 50px;
    width: 120px;
    position: fixed;
    top: 35px;
    right: 32px;
 }


 @media only screen and (max-width: 600px) {

  .twoElement{
    width: 100%;
    margin-left: 2px;
    margin-right: 1px; 
  }
   
  
  .threeElement {
    width: 100%;
    padding: 3px;
    border: 5%;
    margin: 5px;
  }
  .fourElement {
    width: 100%;
    padding: 3px;
    border: 5%;
    margin: 5px;
  }
  
  
}