<mat-card>
    <mat-card-title>Cadastrar novos usuarios</mat-card-title>

    <form class="form-horizontal">
       <div class="form-group">
          
                <mat-form-field class="twoElement" >            
                    <input class="formName" matInput placeholder="Nome"  
                    [(ngModel)]="person.nome" name="name" required  (focus)="enableButton()">     
                </mat-form-field>
         
                <mat-form-field class="twoElement">
                    <input class="formEmail" matInput placeholder="Email"  (click)="enableButton()"
                    [(ngModel)]="person.email" name="email" required
                    >
                </mat-form-field>
            </div>
        <div class="form-group">
                <mat-form-field class="threeElement" >
                    <input matInput placeholder="Telefone"   (click)="enableButton()"
                    [(ngModel)]="person.telefone" id="telefone" name="telefone"required
                    mask="(00)00000-0000">
                </mat-form-field>
           
                <mat-form-field class="threeElement">
                    <input matInput placeholder="cpf"   (click)="enableButton()"
                    [(ngModel)]="person.cpf" id="cpf" name="cpf" required
                    mask="000.000.000-00">
                </mat-form-field>
          
                <mat-form-field class="threeElement">
                    <input matInput placeholder="Data de nascimento"  (click)="enableButton()"
                    [(ngModel)]="person.dataNascimento" id="data" name="dataNascimento" required
                    mask="00/00/0000">
                </mat-form-field>
        </div>
        <div class="form-group">
                <!--Endereco-->
                <mat-form-field class="fourElement" >
                    <input matInput placeholder="logradouro"  (click)="enableButton()"
                        [(ngModel)]="endereco.logradouro" name="logradouro" required>           
                </mat-form-field>
          
                <mat-form-field class="fourElement">
                    <input matInput placeholder="numero"  (click)="enableButton()"
                        [(ngModel)]="endereco.numero" name="numero"required
                        mask="000000">

                </mat-form-field>
          
                <mat-form-field class="fourElement">
                    <input matInput placeholder="complemento"
                        [(ngModel)]="endereco.complemento" name="complemento">           
                </mat-form-field>

                <mat-form-field class="fourElement">
                    <input matInput placeholder="bairro"  (click)="enableButton()"
                        [(ngModel)]="endereco.bairro" name="bairro" required>
                </mat-form-field>

        </div>
        <div class="form-group">               
         
                <mat-form-field class="fourElement">
                    <input matInput placeholder="cidade"  (click)="enableButton()"
                        [(ngModel)]="endereco.cidade" name="cidade" required>
                </mat-form-field> 

                <mat-form-field class="fourElement">
                    <input matInput placeholder="cep"  (focusout)="getAddress(endereco.cep)"  (click)="enableButton()"
                    [(ngModel)]="endereco.cep" id="cep" name="CEP"required
                    mask="00000-000">
                </mat-form-field>       
             

                    <mat-form-field class="fourElement">
                        <mat-select  [(value)]="selectedState" id="estado"  name="estado"  placeholder="Estado" > 
                                <mat-option value="AC">Acre</mat-option>
                                <mat-option value="AL">Alagoas</mat-option>
                                <mat-option value="AP">Amapá</mat-option>
                                <mat-option value="AM">Amazonas</mat-option>
                                <mat-option value="BA">Bahia</mat-option>
                                <mat-option value="CE">Ceará</mat-option>
                                <mat-option value="DF">Distrito Federal</mat-option>
                                <mat-option value="ES">Espírito Santo</mat-option>
                                <mat-option value="GO">Goiás</mat-option>
                                <mat-option value="MA">Maranhão</mat-option>
                                <mat-option value="MT">Mato Grosso</mat-option>
                                <mat-option value="MS">Mato Grosso do Sul</mat-option>
                                <mat-option value="MG">Minas Gerais</mat-option>
                                <mat-option value="PA">Pará</mat-option>
                                <mat-option value="PB">Paraíba</mat-option>
                                <mat-option value="PR">Paraná</mat-option>
                                <mat-option value="PE">Pernambuco</mat-option>
                                <mat-option value="PI">Piauí</mat-option>
                                <mat-option value="RJ">Rio de Janeiro</mat-option>
                                <mat-option value="RN">Rio Grande do Norte</mat-option>
                                <mat-option value="RS">Rio Grande do Sul</mat-option>
                                <mat-option value="RO">Rondônia</mat-option>
                                <mat-option value="RR">Roraima</mat-option>
                                <mat-option value="SC">Santa Catarina</mat-option>
                                <mat-option value="SP">São Paulo</mat-option>
                                <mat-option value="SE">Sergipe</mat-option>
                                <mat-option value="TO">Tocantins</mat-option>
                                <mat-option value="EX">Estrangeiro</mat-option>
                        </mat-select>
                </mat-form-field> 

                <mat-form-field class="fourElement">
                    <mat-select   [(value)]="person.funcoes"    id="funcao"  name="funcao"   placeholder="Funcão"  multiple> 
                        <mat-option *ngFor="let role of roles" [value]="role.value" class="roles" (click)="enableButton()"  >
                                {{ role.viewValue}}
                        </mat-option>
                    </mat-select>
            </mat-form-field> 
        </div> 
</form>

    <button mat-raised-button (click)="createAddress()" class="saveButton" id="saveButton"  color="primary" disabled="true">
        Salvar
    </button>
    
    <button class="button" mat-raised-button (click)="navigateToListPerson()">
        Lista Usuários
    </button>

</mat-card>


<button class="listPerson" mat-raised-button (click)="navigateToListPerson()">
    Lista de usuarios 
</button>


