.modal{
    min-width: 400px !important;
    min-height: 200px !important;

    border-radius: 5%;
    border: 2px solid rgb(243, 199, 199);
}

h1, p {
    text-align: center;
    color: red;
    margin: 5px;
    font-family:Arial, Helvetica, sans-serif;
  
}

.mat-elevation-z4{    
    margin: 5px;
    display: block;
}

ng-container{
    display: 100%;
  
}


.buttondel{
    
    display: block;     
    margin-top: 10px;
    width: 100%; 
    color: brown;  
    padding: 10px;   
      
  }
 .buttonNo{
    color: blue;
    display: block;     
    margin-top: 20px;
    width: 100%;      
    padding: 10px;  
  }


