.data-table{
	width: 80%;
	margin: 20px auto;
}


.filter{
	display: inline-flex;
   }

   button{
    padding: 5px;	
    margin: 15px;
   }

   .InputFilter{
	border-radius: 5px;
    padding: 3px;
    margin: 5px;
   }



   .edit {
      color: green;
   }
 
   .delete {
      color: red;
   }


   .edit , .delete, .folder{
      padding: 10px;  
      margin-top: 25px;
      margin-left: 5px;
      width: 100%;
   }